In [1]:
import pandas as pd

In [8]:
#Concatenate Tables of same number of columns and same column names
#pd.concat(TableA,TableB) - row concatenation
#pd.concat(TableA,TableB,axis=1) - Column Concatenation/Join

#To join data on a column
#pd.merge(TableA,TableB,on="colA")
#pd.merge(TableA,TableB,on="colA",how='inner')  - left, right, outer,inner
#pd.merge(TableA,TableB,on=['colA','colB'],how='inner')

In [4]:
#Append a row in a table
#NewRow=pd.Series([...],index=[])
#df=df.append(NewRow,ignored_index=True)

In [7]:
#append a list of dictioneries or series to a existing DataFrame
student_data1  = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])


dicts = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
         {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]

combined_data =  student_data1.append(dicts, ignore_index=True, sort=False)

combined_data

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    203
6         S7      Bryce Jensen    207